html {
  background-color: #282c34;
}



#array-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: center;
    transform: rotate(180deg) scaleX(-1);
    height: 90vh;
}

.array-bar {
    background-color: red;
    margin: 0 3px;
    width: 5px;
}

.tag {
    display: inline-block;
    color: white;
}